.description-container {
    height: 75vh;
    padding: 1em;
    color: var(--light-mode);
}

.description-container h1 {
    font-size: 4em;
    padding: 1em 0 .7em 0 ;
    text-align: center;
}

.description-container p {
    font-size: 1.8em;
    text-align: center;
    padding: 2em;
}