.list-user-container {
    display: flex;
    justify-content: initial;
    width: 90%;
    padding: 1em 3em; 
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .list-user-container {
        padding: 1em ;
        width: 100%;
        height: 100%;
        text-align: center;
    }
  }