.formLogIn-container {
    background-color: var(--third-color);
}

.LogIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    height: 80vh;
}

.form-logIn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 560px;
    height: 459px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.form-logIn-input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-tittle{
    font-size: 2em;
}

.form-input-label{
    margin: 5px 0;
    font-size: 14px;
}

.form-input-input{
    width: 260px;
    height: 37px;
    padding: 10px 12px;
    background-color: rgb(214, 216, 218);
    border-radius: 4px;
}

.form-input-link{
    text-decoration: none;
    color: white;
    margin: 30px 0px;
}

.form-input-link:hover{
    color: rgb(214, 216, 218);
}

a.button-register {
    color: var(--secondary-color);
    text-decoration: none;
}

a.button-register:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}