.clientMenu-container {
    color: var(--light-mode);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: initial;
    padding: 2em;
    padding-top: 4em;
}

.user-icon {
    width: 7em;
    margin: 0 1.5em 1em;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.clientMenu-container p {
    font-weight: bold;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    padding-bottom: 3em;
}

.clientMenu-container a {
    text-decoration: none;
    color: var(--light-mode);
    padding: 0.5em;
}

.clientMenu-container a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}