.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.header-container h1 {
    font-size: 3em;
    color: var(--light-mode);
}

.header-container img {
    width: 5.5em;
    margin: 0 1em;   
}