.form-register-container{
    background-color: var(--secondary-color);
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}


