.editProfile-container {
    display: flex;
    width: 90%;
    height: 100%;
    padding: 1em 3em; 
}

.editProfile-container h3, label {
    color: var(--third-color);
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .editProfile-container {
        width: 100%;
        padding: 0;
        
    }
  }