.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.header-container h1 {
    font-size: 3em;
    color: var(--light-mode);
    filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, 0.25));
}

.header-container img {
    width: 5.5em;
    margin: 0 1em;   
}

.hello-container {
    background-color: var(--secondary-color);
    border-radius: 1em;
    padding: 0 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
}

.hello-container p {
    margin: 0;
}

.hello-container a {
    color: var(--primary-color);
    text-decoration: none;
}

.hello-container a:hover {
    cursor: pointer;
    color: var(--dark-mode);
    transition: .5s;
}

.hello-container a:hover .hello-container {
    cursor: pointer;
    padding: 2em;
    background-color: var(--third-color);
    
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .header-container h1 {
        font-size: 1.5em;
    }
    .header-container img {
        width: 4em;
        margin: 0 1em;   
    }
    .hello-container {
        width: max-content;
    }
    .hello-container p {
        font-size: 1em;
    }
    .hello-container h3 {
        font-size: 1em;
    }
    .userButton-container {
        display: flex;
        flex-direction: column;
        padding-right: .3em;
    }
    .userButton-container button {
        font-size: .45em;
        width: 100%;
    }
  }
  
  
  