.navBar-container {
    padding: 0;
    margin: 0;
}
.navBar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar-list li {
    font-size: 1.4em;
    text-align: center;
    border: 1px solid #000;
    width: 100%;
    padding: .3em 0;
    cursor: pointer;
}

.navBar-list li:hover {
    color: var(--light-mode);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: .5s;
}

.navBar-list li:hover .link {
    color: var(--light-mode);
    transition: .5s;
}


a.link {
  text-decoration: none;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .navBar-list {
        font-size: .4em;
    }
  }