.userButton-container {
    display: flex;
    padding:  .5em 0;
    margin: .5em;
}

.userButton-logo {
    font-size: 2.3em;
    padding-bottom: .2em;
}

.button {
    font-size: 1em;
    font-weight: bold;
    margin: .8em .7em;
    padding: .3em;
    border-radius: .5em;
    color: var(--primary-color);
    -webkit-text-stroke: .7px ;
    background-color: var(--secondary-color);
    border: .1px solid gray;
    transition: .5s;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.button:hover {
    color: var(--dark-mode);
    border:1px solid var(--secondary-color);
}

.button:hover .link{
    color: var(--dark-mode);
    transition: .5s;
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .button {
        font-size: .7em;
    }
  }
