.stars-container {
    /* Esto hace que al usar label:hover ~ label, funcione en direccion opuesta, marcando los labels de izquierda a derecha*/
    direction: rtl;
    unicode-bidi: bidi-override;
}


.starRating-container label {
    margin: .05em;
}

.starRating-container label:hover {
    color: orange;
}

.starRating-container label:hover ~ label {
    color: orange;
}

.starRating-container input:checked ~ label {
    /* cuando los inputs estan "checked" se mantiene el color en las estrellas */
    color: orange;
}

.starRating-container input{
    display: none;
}

.stars {
    color: gray;
}

.colored-stars {
    color: orange;
}
