.footer-container {
    color: var(--light-mode);
    padding: 2em 2em 0;
    background-color: var(--primary-color);
    width: 100%;
    height: max-content;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 1.2em;
}

.info-container h2 {
    font-size: 1.3em;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a {
    font-size: 1.5em;
    color: var(--light-mode);
}

.social-media a:hover {
    color: var(--secondary-color);
    transition: .5s;
}

.business-hours-container p {
    padding: 0;
    margin: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid var(--light-mode);
    padding: 1em 0 0;
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .info-container {
        align-items: flex-start;
    }
    .info-container div {
        padding: 0 .3em;
    }
    .info-container h2 {
        font-size: .8em;
    }
    .info-container p {
        font-size: .6em;
    }
    .social-media a {
        font-size: 1em;
    }
    .copyright {
        font-size: .5em;
    }
}