.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal {
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40%;
  }
  
  .custom-modal h3 {
    margin-top: 0;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 1em;
    text-align: center;
  }
  
  .custom-modal p {
    margin-bottom: 10px;
  }

  .button-modal-container {
    display: flex;
    justify-content: center;
  }
  
  .custom-modal button {
    margin-top: 2em;
  }
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
  .custom-modal {
    width: 70%;
  }
}