.about-us {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.about-us-description {
    width: 50%;
    padding-top: 1em;
}

.about-us-description h3 {
    display: flex;
    width: max-content;
    padding: .3em 0;
    margin: .3em 0;
    border-bottom: 1px solid var(--primary-color);
    font-style: italic;
}

.about-us-description p {
    font-style: italic;
}

.about-us-img {
    width: 25%;
    border-radius: 1.5em;
}
/* Estilos para dispositivos con ancho máximo de 320px */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .about-us {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-us-description {
        width: 100%;
    }
    .about-us-description h3 {
        display: flex;
        justify-content: center;
        font-size: 1em;
        width: 100%;
    }
    .about-us-description p {
        font-size: .7em;
        text-align: center;
    }
    .about-us-img {
        width: 50%;
        border-radius: 1.5em;
    }
  }