:root {
  --primary-color: #3F4E4F;
  --secondary-color: #A27B5C;

  /* Posibles colores mode */
  --third-color: #DCD7C9;
  --Fourth-color: #2C3639;

  --light-mode: #FFF;
  --dark-mode: #000;
}

body {
  font-family: 'Asap Condensed';
}

