:root {
  --primary-color: #3F4E4F;
  --secondary-color: #A27B5C;
  --light-mode: #FFF;
  --dark-mode: #000;
}

body {
  font-family: 'Asap Condensed';
}

.App h1 {
  color: pink;
}

.App p {
  color: white;
}